@import "tailwindcss";

:root {
  --background: #F5F7FA;
  --foreground: #1E3A5F;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}
